/* General layout */
.header {outline:1px solid red; height: 40px; position:absolute; top:0px; width:100%;}
.mainbody {
	min-height:200px; 
	position:absolute; 
	top:40px; 
	width:100%;
	background-color:#2F4054;
}

body {
	background-color:#2F4054;
}

/*Nav bar */

.navbar-nav {
	margin-left: auto;
	margin-right: auto;
}

.navbar-fixed-top, .navbar-fixed-bottom {
	color:#17202A;
}

/*Bar chart*/

div[id="chart"] {
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	height: 400px;
}

/*Banner*/

.container[id="banner"] {
	height: 50px;
}

h1[id="banner"] {
	font-size:30px;
	color:white;
}

.jumbotron[id="banner"] {
	padding-top: 48px;
	padding-bottom: 0px;
	background-color:#2F4054;
}

/* Home */

.search-container {
	height:100%;
	background-color:#2F4054;
}

.input-group {
	position: absolute;
	width:10%;
	top:70%;
	left:25%;
}


span.postfix{
	border: none;
	background: #A1B848;
	color: white;

}

.form-control, .input-group-addon {
	border: 2px solid;
    border-color:black;
    background-color:white;
    color:black;
}

.row[id="results-row"] {
	background-color:white;
    margin-top: 20px;
    outline:1px solid green;
    padding-top: 10px; 
}

.row[id="footer-row"] {
	background-color:white;
    margin-top: 20px;
    outline:1px solid green;
    padding-top: 10px; 
}

.row[id="search-row"] {
    margin-top: 20px;
}

.splash {
	max-height: 400px;
	width: 100%;
}

img[id="splash-image"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.splash-header h1, h3{
	color:white;
	text-align:center;
}

li[id="search-list"]{
	list-style: none;
}

h4[id="search-title"]{
    text-align:left;
    text-transform: lowercase;
    padding-bottom: 5px;
    padding-top: 5px;
}

p[id="search-subtitle"]{
	text-align:left;
	padding-bottom: 0px;
    padding-top: 0px;
    margin-bottom: 10px;
}

.ui-helper-hidden-accessible{display:none}

h1[id="home"] {
	font-family: 'Montserrat', 'sans-serif';
	font-weight: 700;
	fon
	text-transform: uppercase;
	color:white;
}

h3[id="home"] {
	font-size:30px;
	color:white;
}

.social {
  	margin-left: auto;
	margin-right: auto;	
	text-align:center;	
}

.social {
  	margin-left: auto;
	margin-right: auto;	
	text-align:center;	
	margin-bottom: 20px;
}

.social a {
	margin-left: 20px;
	margin-right: 20px;
}

.social a:hover {
	margin-left: 20px;
	margin-right: 20px;
}

.label[id="list-label"] {
	min-width:120px;
}

li[id="recall-list"] {
	padding-bottom: 20px;
	list-style: none;
}