{% extends "base.html" %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/barchart.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/pizza.css') }}" />

<div class="row" id="search-row">

  <div class="search-container">
    <div class="small-10 columns">
      <input type="text" id="search-input" list="json-datalist" placeholder="Search for..." onkeydown="if (event.keyCode == 13) { search()}">
      <datalist id="json-datalist"></datalist>
    </div>
    <div class="small-2 columns">
      <span class="postfix" onclick="search()">Search</span>
    </div>
  </div> 

</div>

<div class="row" id="results-row">
  <div class="large-12 columns">

    <div class="row" id="results-row">
      <div class="large-12 columns">

      <ul>
        <li class="tab-title"><a href='/recall/{{ searchterm }}/count=openfda.manufacturer_name.exact/search=openfda.substance_name:"{{ searchterm }}"/report=1' id="adverse-link">Recalls</a></li>
        <li class="tab-title active"><a href='/adverse/{{ searchterm }}/count=patient.drug[0].drugindication.exact/search=patient.drug[0].medicinalproduct:"{{ searchterm }}"/report=1' id="recall-link">Adverse Events</a></li>
        <li class="tab-title"><a href="#panel2-3" id="label-link">Labels (not available yet)</a></li>
      </ul>

      <div id="panel2-1">
        <h4>Adverse Events</h4>
        <div class="large-6 columns">
          <div class="panel">
            <dl class="sub-nav">
              <dt>View:</dt>
              {% if count == "patient.drug[0].drugindication.exact" %}
              <dd class="active"><a href="/result/count=patient.drug[0].drugindication.exact/search={{search}}/report={{currentpage}}">Indication</a></dd>
              <dd><a href="/result/count=patient.reaction.reactionmeddrapt.exact/search={{search}}/report={{currentpage}}">Reaction</a></dd>
              <dd><a href="/result/count=patient.drug[0].openfda.manufacturer_name.exact/search={{search}}/report={{currentpage}}">Manufacturer</a></dd>
              {% elif count == "patient.reaction.reactionmeddrapt.exact" %}
              <dd><a href="/result/count=patient.drug[0].drugindication.exact/search={{search}}/report={{currentpage}}">Indication</a></dd>
              <dd class="active"><a href="/result/count=patient.reaction.reactionmeddrapt.exact/search={{search}}/report={{currentpage}}">Reaction</a></dd>
              <dd><a href="/result/count=patient.drug[0].openfda.manufacturer_name.exact/search={{search}}/report={{currentpage}}">Manufacturer</a></dd>
              {% else %}
              <dd><a href="/result/count=patient.drug[0].drugindication.exact/search={{search}}/report={{currentpage}}">Indication</a></dd>
              <dd><a href="/result/count=patient.reaction.reactionmeddrapt.exact/search={{search}}/report={{currentpage}}">Reaction</a></dd>
              <dd class="active"><a href="/result/count=patient.drug[0].openfda.manufacturer_name.exact/search={{search}}/report={{currentpage}}">Manufacturer</a></dd>
              {% endif %}
              
            </dl>
            
            <div id="pie-chart"></div>
            <ul data-pie-id="pie-chart">
            {% for item in adverse_event_count%}
              <li data-value="{{item.count}}" data-text="{{item.term}} ({{item.count}})">{{item.term}} ({{item.count}})</li>
            {% endfor %}
            </ul>
            
          </div>
        </div>

        <div class="large-6 columns">
          <div class="panel">

            <div class="pagination-centered">
              <ul class="pagination" id="report-pagination">
              {%- for page in pagination.iter_pages() %}
                {% if page %}
                  {% if page != currentpage %}
                    <li><a href="/result/count={{ count }}/search={{ search }}/report={{ page }}">{{ page }}</a></li>
                  {% else %}
                    <li class="current"><a href="/result/count={{ count }}/search={{ search }}/report={{ page }}">{{ page }}</a></li>
                  {% endif %}
                {% else %}
                  <li class="unavailable"><a href="">&hellip;</a></li>
                {% endif %}
              {%- endfor %}
            </ul>
            </div>

            {% if adverse_event[0].safetyreport %}<h2>Safety Report</h2>{{ adverse_event[0].safetyreport}}{% endif %}
            {% if adverse_event[0].safetyreportversion %}<h2>Safety Report Version</h2>{{ adverse_event[0].safetyreportversion}}{% endif %}
            {% if adverse_event[0].receivedate %}<h2>Receive Date</h2>{{ adverse_event[0].receivedate}}{% endif %}
            {% if adverse_event[0].serious %}<h2>Serious</h2>{{ adverse_event[0].serious}}{% endif %}
            {% if adverse_event[0].occurcountry %}<h2>Country</h2>{{ adverse_event[0].occurcountry}}{% endif %}
            {% if adverse_event[0].patient.patientsex %}<h2>Patient Sex</h2>{{ adverse_event[0].patient.patientsex}}{% endif %}
            {% if adverse_event[0].patient.patientweight %}<h2>Patient Weight</h2>{{ adverse_event[0].patient.patientweight}} kg{% endif %}
            {% if adverse_event[0].patient.drug[0].drugdosageform %}<h2>Drug Dosage Form</h2>{{ adverse_event[0].patient.drug[0].drugdosageform}}{% endif %}
            {% if adverse_event[0].patient.drug[0].drugbatchnum %}<h2>Drug Batch Number</h2>{{ adverse_event[0].patient.drug[0].drugbatchnum}}{% endif %}
            {% if adverse_event[0].patient.drug[0].drugdosagetext %}<h2>Drug Dosage</h2>{{ adverse_event[0].patient.drug[0].drugdosagetext}}{% endif %}
            {% if adverse_event[0].patient.drug[0].drugenddate %}<h2>Drug End Date</h2>{{ adverse_event[0].patient.drug[0].drugenddate}}{% endif %}
            {% if adverse_event[0].patient.drug[0].drugindication %}<h2>Drug Indication</h2>{{ adverse_event[0].patient.drug[0].drugindication}}{% endif %}
            {% if adverse_event[0].patient.drug[0].drugstartdate %}<h2>Drug Start Date</h2>{{ adverse_event[0].patient.drug[0].drugstartdate}}{% endif %}
            {% if adverse_event[0].patient.drug[0].medicinalproduct %}<h2>Medicinal Product</h2>{{ adverse_event[0].patient.drug[0].medicinalproduct}}{% endif %}
            {% if adverse_event[0].patient.drug[0].openfda %}
              {% if adverse_event[0].patient.drug[0].openfda.spl_id[0] %}<h2>SPL ID</h2>{{ adverse_event[0].patient.drug[0].openfda.spl_id[0]}}{% endif 
              %}
              {% if adverse_event[0].patient.drug[0].openfda.product_ndc[0] %}<h2>Product NDC</h2>{{ adverse_event[0].patient.drug[0].openfda.product_ndc[0]}}{% endif %}
              {% if adverse_event[0].patient.drug[0].openfda.route[0] %}<h2>Route</h2>{{ adverse_event[0].patient.drug[0].openfda.route[0]}}{% endif %}
              {% if adverse_event[0].patient.drug[0].openfda.substance_name[0] %}<h2>Substance Name</h2>{{ adverse_event[0].patient.drug[0].openfda.substance_name[0]}}{% endif %}
              {% if adverse_event[0].patient.drug[0].openfda.rxcui[0] %}<h2>RXCUI</h2>{{ adverse_event[0].patient.drug[0].openfda.rxcui[0]}}{% endif %}
              {% if adverse_event[0].patient.drug[0].openfda.spl_set_id[0] %}<h2>SPL Set ID</h2>{{ adverse_event[0].patient.drug[0].openfda.spl_set_id[0]}}{% endif %}
              {% if adverse_event[0].patient.drug[0].openfda.package_ndc[0] %}<h2>Package NDC</h2>{{ adverse_event[0].patient.drug[0].openfda.package_ndc[0]}}{% endif %}
              {% if adverse_event[0].patient.drug[0].openfda.product_type[0] %}<h2>Product Type</h2>{{ adverse_event[0].patient.drug[0].openfda.product_type[0]}}{% endif %}
              {% if adverse_event[0].patient.drug[0].openfda.generic_name[0] %}<h2>Generic Name</h2>{{ adverse_event[0].patient.drug[0].openfda.generic_name[0]}}{% endif %}
              {% if adverse_event[0].patient.drug[0].openfda.manufacturer_name[0] %}<h2>Manufacturer</h2>{{ adverse_event[0].patient.drug[0].openfda.manufacturer_name[0]}}{% endif %}
              {% if adverse_event[0].patient.drug[0].openfda.brand_name[0] %}<h2>Brand Name</h2>{{ adverse_event[0].patient.drug[0].openfda.brand_name[0]}}{% endif %}
            {% endif %}
            {% if adverse_event[0].patient.reaction[0].reactionmeddrapt %}<h2>Reaction</h2>{{ adverse_event[0].patient.reaction[0].reactionmeddrapt}}{% endif %}
            {% if adverse_event[0].patient.reaction[0].reactionoutcome %}<h2>Reaction Outcome</h2>{{ adverse_event[0].patient.reaction[0].reactionoutcome}}{% endif %}

          </div>
        </div>

      </div>

      </div>
    </div>
  </div>
</div>

<footer class="row" id="footer-row">
<div class="large-12 columns">
  <hr/>
  <div class="row">
    <div class="large-5 columns">
      <p>SearchFDA.</p>
    </div>
    <div class="large-7 columns">
      <ul class="inline-list right">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Blog</a></li>
      </ul>
    </div>
  </div>
</div>
</footer>

<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="http://nvd3.org/assets/js/nv.d3.js" charset="utf-8"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/tree.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/snap.svg.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/pizza.js') }}"></script>


<script> 
  function search() {
    document.location.href = "/search=" + document.getElementById("search-input").value + "/" ;
  }
</script>

<script>
  Pizza.init();
</script>
{% endblock %}
