{% extends "base.html" %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/barchart.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/pizza.css') }}" />

<div class="row" id="search-row">

  <div class="search-container">
    <div class="small-10 columns">
      <input type="text" id="search-input" list="json-datalist" placeholder="Search for..." onkeydown="if (event.keyCode == 13) { search()}">
      <datalist id="json-datalist"></datalist>
    </div>
    <div class="small-2 columns">
      <span class="postfix" onclick="search()">Search</span>
    </div>
  </div> 

</div>

<div class="row" id="results-row">
  <div class="large-12 columns">

    <div class="row" id="results-row">
      <div class="large-12 columns">

      <ul>
        <li class="tab-title"><a href='/recall/{{ searchterm }}/count=openfda.manufacturer_name.exact/search=openfda.substance_name:"{{ searchterm }}"/report=1' id="adverse-link">Recalls</a></li>
        <li class="tab-title active"><a href='/adverse/{{ searchterm }}/count=patient.drug.drugindication.exact/search=patient.drug.medicinalproduct:"{{ searchterm }}"/report=1' id="recall-link">Adverse Events</a></li>
        <li class="tab-title"><a href="#panel2-3" id="label-link">Labels (not available yet)</a></li>
      </ul>

      <div id="panel2-1">
        <h4>Adverse Events</h4>
        <div class="large-6 columns">
          <div class="panel">
            <dl class="sub-nav">
              <dt>View:</dt>
              {% if count == "patient.drug.drugindication.exact" %}
              <dd class="active"><a href="/result/count=patient.drug.drugindication.exact/search={{search}}/report={{currentpage}}">Indication</a></dd>
              <dd><a href="/result/count=patient.reaction.reactionmeddrapt.exact/search={{search}}/report={{currentpage}}">Reaction</a></dd>
              <dd><a href="/result/count=patient.drug.openfda.manufacturer_name.exact/search={{search}}/report={{currentpage}}">Manufacturer</a></dd>
              {% elif count == "patient.reaction.reactionmeddrapt.exact" %}
              <dd><a href="/result/count=patient.drug.drugindication.exact/search={{search}}/report={{currentpage}}">Indication</a></dd>
              <dd class="active"><a href="/result/count=patient.reaction.reactionmeddrapt.exact/search={{search}}/report={{currentpage}}">Reaction</a></dd>
              <dd><a href="/result/count=patient.drug.openfda.manufacturer_name.exact/search={{search}}/report={{currentpage}}">Manufacturer</a></dd>
              {% else %}
              <dd><a href="/result/count=patient.drug.drugindication.exact/search={{search}}/report={{currentpage}}">Indication</a></dd>
              <dd><a href="/result/count=patient.reaction.reactionmeddrapt.exact/search={{search}}/report={{currentpage}}">Reaction</a></dd>
              <dd class="active"><a href="/result/count=patient.drug.openfda.manufacturer_name.exact/search={{search}}/report={{currentpage}}">Manufacturer</a></dd>
              {% endif %}
              
            </dl>
            
            <div id="pie-chart"></div>
            <ul data-pie-id="pie-chart">
            {% for item in adverse_event_count%}
              <li data-value="{{item.count}}" data-text="{{item.term}} ({{item.count}})">{{item.term}} ({{item.count}})</li>
            {% endfor %}
            </ul>
            
          </div>
        </div>

        <div class="large-6 columns">
          <div class="panel">

            <div class="pagination-centered">
              <ul class="pagination" id="report-pagination">
              {%- for page in pagination.iter_pages() %}
                {% if page %}
                  {% if page != currentpage %}
                    <li><a href="/result/count={{ count }}/search={{ search }}/report={{ page }}">{{ page }}</a></li>
                  {% else %}
                    <li class="current"><a href="/result/count={{ count }}/search={{ search }}/report={{ page }}">{{ page }}</a></li>
                  {% endif %}
                {% else %}
                  <li class="unavailable"><a href="">&hellip;</a></li>
                {% endif %}
              {%- endfor %}
            </ul>
            </div>

            <div id="json-viewer"></div>

          </div>
        </div>

      </div>

      </div>
    </div>
  </div>
</div>

<footer class="row" id="footer-row">
<div class="large-12 columns">
  <hr/>
  <div class="row">
    <div class="large-5 columns">
      <p>SearchFDA.</p>
    </div>
    <div class="large-7 columns">
      <ul class="inline-list right">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Blog</a></li>
      </ul>
    </div>
  </div>
</div>
</footer>


<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="http://nvd3.org/assets/js/nv.d3.js" charset="utf-8"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/tree.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/snap.svg.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/pizza.js') }}"></script>


<script>
  data = {{ adverse_event|tojson|safe }};
  makeAdverseEvent(data,".json-viewer");
</script>

<script> 
  function search() {
    document.location.href = "/search=" + document.getElementById("search-input").value + "/" ;
  }
</script>

<script>
  Pizza.init();
</script>
{% endblock %}
