<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Search FDA</title>
    </head>
    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nv.d3.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/searchfda.css') }}" />

    <!-- SCRIPTS -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/d3.v3.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/nv.d3.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/mychart.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/linechart.js') }}"></script>
    <!-- BODY -->
    <body>
        test2
        <svg style='height:600px'/>
        <footer>
        </footer>
    </body>
</html>
