{% extends "base.html" %}
{% block content %}

<!-- HEADER -->
    <div class="jumbotron" id="banner">
      <div class="container" id="banner">
        <h1 id="banner">Sumatriptan (generic name)</h1>
      </div>
      <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="#">Adverse Events</a></li>
        <li><a href="#">Recalls (coming soon)</a></li>
        <li><a href="#">Labeling (coming soon)</a></li>
        <div class="ui-widget">
          <input id="search">
          <div id="autocomplete" class="ui-widget-content"></div>
        </div>
      </ul>   
    </div>  

<br>

category: {{ category }}

<br>

view: {{ view }}

<br>

jsondata: {{ jsondata }}

{% endblock %}
