<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF8">
        <title>Search FDA</title>
    </head>
    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nv.d3.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/searchfda.css') }}" />

    <!-- SCRIPTS -->
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="http://nvd3.org/assets/js/nv.d3.js" charset="utf-8"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/barchart.js') }}"></script>
    
    <!-- BODY -->
    <body>
        <div id="chart">
          <svg></svg>
        </div>
        <footer>
        </footer>
    </body>
</html>
