{% extends "base.html" %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/barchart.css') }}" />

<div class="row" id="search-row">

  <div class="search-container">
  	<div class="small-10 columns">
      <input type="text" id="search-input" list="json-datalist" placeholder="Search for..." onkeydown="if (event.keyCode == 13) { search()}">
      <datalist id="json-datalist"></datalist>
    </div>
    <div class="small-2 columns">
      <span class="postfix" onclick="search()">Search</span>
    </div>
  </div> 

</div>

<div class="row" id="results-row">
     
  <div class="large-3 columns ">
    <div class="panel">
      <div class="section-container vertical-nav" data-section data-options="deep_linking: false; one_up: true">
        <br>
      </div>
    </div>
  </div>
     
  <div class="large-6 columns">

    <div class="row">
      <div class="large-12 columns">
        <h4>Sumatriptan</h4>
        <li id="recall-list">
        {% for key, value in recalls.iteritems() %}
          {% if value|length>40 %}
            <br>
            <span class="label" id="list-label">{{ key }}</span> <br> {{ value }}
          {% else %}
            <br>
            <span class="label" id="list-label">{{ key }}</span> {{ value }}
          {% endif %}
          <br>
        {% endfor %}
        </li>
      </div>
    </div>

  </div>

  <aside class="large-3 columns hide-for-small">
  	<p><img src="http://placehold.it/300x440&text=[ad]"/></p>
  	<p><img src="http://placehold.it/300x440&text=[ad]"/></p>
  </aside>

</div>

<footer class="row" id="footer-row">
<div class="large-12 columns">
  <hr/>
  <div class="row">
    <div class="large-5 columns">
      <p>SearchFDA.</p>
    </div>
    <div class="large-7 columns">
      <ul class="inline-list right">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Blog</a></li>
      </ul>
    </div>
  </div>
</div>
</footer>

{% endblock %}
