{% extends "base.html" %}
{% block content %}

<div class="row" id="search-row">

  <div class="search-container">
    <div class="small-10 columns">
      <input type="text" id="search-input" list="json-datalist" placeholder="Search for..." onkeydown="if (event.keyCode == 13) { search()}">
      <datalist id="json-datalist"></datalist>
    </div>
    <div class="small-2 columns">
      <span class="postfix" onclick="search()">Search</span>
    </div>
  </div> 

</div>

<div class="row" id="results-row">
  <h4>Search Results for {{ searchterm }}</h4>
  <div class="large-3 columns ">
    <div class="panel">
      <div class="section-container vertical-nav" data-section data-options="deep_linking: false; one_up: true">
      </div>
    </div>
  </div>
     
  <div class="large-6 columns">

    <ul class="pagination">
      {%- for page in pagination.iter_pages() %}
        {% if page != 1 %}
          {% if page %}
            {% if page != currentpage %}
              <li><a href="/search={{ searchterm }}/page/{{ page }}">{{ page }}</a></li>
            {% else %}
              <li class="current"><a href="/search={{ searchterm }}/page/{{ page }}">{{ page }}</a></li>
            {% endif %}
          {% else %}
            <li class="unavailable"><a href="">&hellip;</a></li>
          {% endif %}
        {% else %}
          <li><a href="/search={{ searchterm }}/">{{ page }}</a></li>
        {% endif%}
      {%- endfor %}
    </ul>

    
    <li id="search-list">
      {% for result in searchresults %}
      <h5 id="search-title"><a href="/search={{ result.name }}/result">{{ result.name }}</a></h5>
      <p id="search-subtitle">{{ result.category }}</p>
      <a href='/recall/{{ result.name }}/count=openfda.manufacturer_name.exact/search=openfda.substance_name:"{{ result.name }}"/report=1' id="recall-link">Recalls: {{ result.recall }}</a>
      <a href='/adverse/{{ result.name }}/count=patient.drug.drugindication.exact/search=patient.drug.medicinalproduct:"{{ result.name }}"/report=1' id="adverse-link">Adverse events: {{ result.adverse }}</a>
      <a href="/search={{ result.name }}/result/label" id="label-link">Labels: {{ result.label }}</a>
      {% endfor %}
    </li>  

    <ul class="pagination">
      {%- for page in pagination.iter_pages() %}
        {% if page != 1 %}
          {% if page %}
            {% if page != currentpage %}
              <li><a href="/search={{ searchterm }}/page/{{ page }}">{{ page }}</a></li>
            {% else %}
              <li class="current"><a href="/search={{ searchterm }}/page/{{ page }}">{{ page }}</a></li>
            {% endif %}
          {% else %}
            <li class="unavailable"><a href="">&hellip;</a></li>
          {% endif %}
        {% else %}
          <li><a href="/search={{ searchterm }}/">{{ page }}</a></li>
        {% endif%}
      {%- endfor %}
    </ul>

  </div>

  <aside class="large-3 columns hide-for-small">
    <p><img src="http://placehold.it/300x440&text=[ad]"/></p>
    <p><img src="http://placehold.it/300x440&text=[ad]"/></p>
  </aside>

</div>

<script> 
  function search() {
    document.location.href = "/search=" + document.getElementById("search-input").value + "/" ;
  }
</script>
{% endblock %}
