{% extends "base.html" %}
{% block content %}

<div class="row" id="search-row">

  <div class="search-container">
    <input type="text" class="form-control" id="search-input" value="{{ searchterm }}" onkeydown="if (event.keyCode == 13) { search()}"/>
    <span class="postfix" onclick="search()">Search</span>
  </div> 

</div>

<div class="row" id="results-row">
  
  <div class="large-3 columns ">
    <div class="panel">
      <div class="section-container vertical-nav" data-section data-options="deep_linking: false; one_up: true">
      </div>
    </div>
  </div>
     
  <div class="large-6 columns">
    {% for result in searchresults %}
    <li id="search-list">
      <h5 id"search-title"><a href="/search={{ result.name }}/{{ result.category }}/indication">{{ result.name }}</a></h5>
      <p id="search-subtitle">{{ result.category }}</p>
    </li>
    {% endfor %}

    <ul class="pagination">
      {%- for page in pagination.iter_pages() %}
        {% if page != 1 %}
          {% if page %}
            {% if page != currentpage %}
              <li><a href="/search={{ searchterm }}/page/{{ page }}">{{ page }}</a></li>
            {% else %}
              <li class="current"><a href="/search={{ searchterm }}/page/{{ page }}">{{ page }}</a></li>
            {% endif %}
          {% else %}
            <li class="unavailable"><a href="">&hellip;</a></li>
          {% endif %}
        {% else %}
          <li><a href="/search={{ searchterm }}/">{{ page }}</a></li>
        {% endif%}
      {%- endfor %}
    </ul>

  </div>

  <aside class="large-3 columns hide-for-small">
    <p><img src="http://placehold.it/300x440&text=[ad]"/></p>
    <p><img src="http://placehold.it/300x440&text=[ad]"/></p>
  </aside>

</div>

<script> 
  function search() {
    document.location.href = "/search=" + document.getElementById("search-input").value + "/" ;
  }
</script>
{% endblock %}
